.Generos {
    display: flex;
    justify-content: space-around;
    margin-top: 2.5rem;
    flex-direction: row;

    .Generos img {
        width: 80%;
        height: 80%;
        margin-left: 3.2rem;
        margin-top: 0.8rem;
    }
    
    .Generos img:hover {
        cursor: pointer;
        opacity: 0.6;
    }
    .Generos a {
        text-decoration: none;
        color: black;

        .Generos h2 {
            text-align: center;
            font-size: 15pt;
            margin-bottom: 30px;
            font-weight: bolder;
            margin-top: 1rem;
            text-decoration: none;
        }
        .Generos h2:hover {
            cursor: pointer;
            color: rgb(88, 88, 88);
        }
    }
}







