.historia {
    background-color: #c5b795;
    display: flex;
    margin-top: 6.5rem;
    gap: 30px;
    padding: 30px;
    margin-bottom: 6rem;
    width: 100%;
    height: auto;

        .historia h3 {
            font-size: 1.5rem;
            font-weight: 660;
            text-align: center;
            margin-top: 1rem;
        }
        .historia p {
            font-size: 1.2rem;
            margin-top: 1.5rem;
        }
}
  




