.historia {
    background-color: #b9ad8f;
    display: flex;
    margin-top: 30px;
    gap: 30px;
    padding: 30px;
    margin-bottom: 30px;
}

.historia h3 {
    font-size: 15pt;
    font-weight: 660;
    text-align: center;
}