.locales {
    font-size: 1.9rem;
    text-align: center;
    margin-top: 3rem;
    margin-bottom: 3rem;
    font-weight: bold;
  }
  
  .ubicacion {
    display: flex;
    text-align: center;
    align-content: center;
    justify-content: center;
    gap: 20rem;
  }
  
  .conteinerMartinez {
    display: flex;
    gap: 10px;
  }
  
  .conteinerEscobar {
    display: flex;
  }
  
  .localesubicacion {
    margin-bottom: 100px;
  }