@media (max-width: 768px) {
    .Generos {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 30px;
    }
}

@media (max-width: 768px) {
    .historia {
        display: flex;
        flex-direction: column;
    }
}
@media (max-width: 768px) {
    .footer__icons {
        display: flex;
        flex-direction: column;
    }
}

@media (max-width: 768px) {
    #footer {
    height: 50rem;
    }
}
