@charset "UTF-8";

* {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  box-sizing: border-box;
}

body {
  background-color: #F5F2EB;
}

.container-fluid .navbar-brand h1 {
  font: bolder;
  color: #181616;
  font-size: 20pt;
  font-weight: 660;
}
.container-fluid ul {
  display: flex;
  gap: 30px;
}
.container-fluid ul .nav-item a {
  font-size: 11.5pt;
  font-weight: 660;
}

.contenedor {
  height: auto;
}
.contenedor .contenedor__video {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.Generos {
  display: flex;
  justify-content: space-around;
  margin-top: 2.5rem;
  flex-direction: row;
}

.Generos img {
  width: 80%;
  height: 80%;
  margin-left: 3.2rem;
  margin-top: 0.8rem;
}

.Generos img:hover {
  cursor: pointer;
  opacity: 0.6;
}

.Generos a {
  text-decoration: none;
  color: black;
}

.Generos h2 {
  text-align: center;
  font-size: 15pt;
  margin-bottom: 30px;
  font-weight: bolder;
  margin-top: 1rem;
  text-decoration: none;
}

.Generos h2:hover {
  cursor: pointer;
  color: rgb(88, 88, 88);
}

@media (max-width: 768px) {
  .Generos {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
  }
}

.historia {
  background-color: #c5b795;
  display: flex;
  margin-top: 6.5rem;
  gap: 30px;
  padding: 30px;
  margin-bottom: 6rem;
  width: 100%;
  height: auto;
}

.historia h3 {
  font-size: 2.5rem;
  font-weight: 660;
  text-align: center;
  margin-top: 1rem;
}

.historia p {
  font-size: 1.2rem;
  margin-top: 1.5rem;
}

#footer {
  background-color: #000000;
  width: 100%;
  height: 17rem;
  margin-top: 6rem;
}


@media (max-width: 768px) {
  #footer {
    height: 50rem;
  }
}


#footer .footer__icons {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style-type: none;
}
#footer .footer__icons .icon {
  width: 50px;
  height: 50px;
  margin: 50px;
}
#footer p {
  color: white;
  text-align: center;
  margin-top: 50px;
}

.portadaContactoYLocales {
  width: 100%;
  height: 350px;
  position: relative;
}

.portadaContactoYLocales img {
  width: 100%;
  height: 100%;
}
.portadaContactoYLocales p {
  position: absolute;
  font-size: 16px;
  top: 5%;
  left: 13%;
  font-size: 30pt;
  font-weight: bold;
  color: #181616;
}

.contacto {
  font-weight: bold;
  text-align: center;
  margin-top: 4rem;
  margin-bottom: 4rem;
}


.contenedor__form .col-4 input:hover {
  border-color: #181616;
}
.contenedor__form .col-4 input:focus {
  background-color: rgb(209, 209, 209);
}
.contenedor__form .col-4 textarea:hover {
  border-color: #181616;
}
.contenedor__form .col-4 textarea:focus {
  background-color: rgb(209, 209, 209);
}

.portada img {
  width: 100%;
  height: 350px;
}

.novedades__titulos {
  text-align: center;
  margin-top: 30px;
  font-size: 20pt;
  font-weight: bold;
}

.novedades__titulos {
  text-align: center;
  margin-top: 30px;
  font-size: 20pt;
  font-weight: bold;
}

.articulos__titulos {
  font-size: 18pt;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 90px;
  font-weight: bold;
}

.Niños {
  width: 100%;
  position: relative;
}
.conteinerNiños img {
  width: 100%;
  height: 100%;
}
.conteinerNiños p {
  position: absolute;
  font-size: 16px;
  top: 25%;
  left: 15%;
  font-size: 30pt;
  font-weight: bold;
}

.locales {
  font-size: 1.9rem;
  text-align: center;
  margin-top: 3rem;
  margin-bottom: 3rem;
  font-weight: bold;
}

.ubicacion {
  display: flex;
  text-align: center;
  align-content: center;
  justify-content: center;
  gap: 20rem;
}

.conteinerMartinez {
  display: flex;
  gap: 10px;
}

.conteinerEscobar {
  display: flex;
}

.localesubicacion {
  margin-bottom: 100px;
}

@media (max-width: 768px) {
  .Generos {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 30px;
  }
}

@media (max-width: 768px) {
  .historia {
    display: flex;
    flex-direction: column;
  }
}
@media (max-width: 768px) {
  .footer__icons {
    display: flex;
    flex-direction: column;
  }
}

  @media (max-width: 768px) {
    #footer {
    height: 50rem;
    }
  }
  

/*# sourceMappingURL=main.css.map */